@model IEnumerable<WebUI.Models.DisplayLog>
   
 @{
Layout=null;
}

@Html.ActionLink("Create New", "AddorEditTransactionLog", new { @class = ".fa-pencil" })


<table class="table table-striped table-condensed table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.transactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.transactionDate)
        </td>
        <td>
            @Html.DisplayFor(model => item.logName)
        </td>
        <td>
            @Html.DisplayFor(model => item.categoryName)
        </td>

        <td>
            @Html.DisplayFor(model => item.description)
        </td>

        <td>
            @Html.ActionLink("Edit", "AddorEditTransactionLog",new { logsid=item.logsId}, new { @class = ".fa-pencil" })

        </td>
    </tr>
}

</table>
